:root{
    --darkBackGround: rgb(10, 10, 15);
    --darkForeGround: rgb(20, 20, 25);
}

/* This is a comment */
/* This selects and styles all elements */
*{
    font-family: "Cascadia Mono";
    color: white;
    
    box-sizing: border-box;
}

/* Set a common style for <body> */
body{
    background-color: var(--darkBackGround);

    margin: 0%;
}

/* Set a common style for all <code> when inside a <pre> tag */
input{
    color: grey;

    background-color: var(--darkBackGround);

    border: 0;
    border-radius: 16px;

    padding: 8px;

    width: 100%;

    margin: 16px 0;

    display: block;
    overflow-x: scroll;

    box-shadow: 4px 4px 8px rgb(0, 0, 0, 1) inset, -4px -4px 8px rgb(255, 255, 255, 0.125) inset;
}

button{
    background-color: rgb(20, 40, 25);

    display: flex;

    border: 1px;
    border-style: solid;
    border-color: green;
    border-radius: 16px;

    padding: 8px 16px;

    width: 100%;

    transition: 0.5s;
}

button:hover{
    background-color: green;
    border-color: greenyellow;

    cursor: pointer;
}

h1, h2, h3, h4, h5, h6{
    color: yellow;
}

/* Set a common style for all <iframe> */
iframe{
    border-radius: 16px;
}

/* Make common custom style for <div> */
.window{
    border-radius: 16px;
    background-color: var(--darkForeGround);

    margin: 32px 20%;
    padding: 32px;

    box-shadow: 4px 4px 8px rgb(0, 0, 0, 1), -4px -4px 8px rgb(255, 255, 255, 0.125);

    transition: 0.5s;
}

/* Make change custom style for <div> on hover */
.window:hover{
    box-shadow: 4px 4px 8px rgb(0, 0, 0, 1), -4px -4px 8px rgb(255, 255, 255, 0.125), 0px 0px 64px rgb(20, 20, 90);
}

.result{
    border-radius: 16px;
    background-color: rgb(255, 255, 255, 0.0625);

    padding: 8px 16px;

    box-shadow: 4px 4px 8px rgb(0, 0, 0, 1), -4px -4px 8px rgb(255, 255, 255, 0.125);

    transition: 0.5s;
}

/* Make change custom style for <div> on hover */
.result:hover{
    box-shadow: 4px 4px 8px rgb(0, 0, 0, 1), -4px -4px 8px rgb(255, 255, 255, 0.125), 0px 0px 64px rgb(20, 90, 20);
}