#div_A{
    border-color: purple;

    box-shadow: 8px 8px 8px red;
}

#div_B{
    border-color: lime;

    box-shadow: 8px 8px 8px black inset;
}

#div_C{
    border-radius: 16px;

    border-color: orange;

    box-shadow: 0px 0px 0px 8px blue, 0px 0px 0px 16px red, 0px 0px 0px 24px green;
}

#div_D{
    border-color: red;

    text-shadow: 4px 4px 1px black;
}