body{
    font-family: Arial;
    font-weight: 400;
    font-size: x-large;

    margin: 0%;
}

header{
    font-family: Tahoma, sans-serif;
    font-weight: 700;
    font-size: 300%;

    text-decoration: underline;
    text-align: center;

    padding: 1% 0;
}

h1{
    font-family: Tahoma;
    font-weight: 700;
    
    text-decoration: underline;
}

nav{
    font-size: 150%;

    text-align: center;

    padding-bottom: 1%;
}

nav a{
    text-decoration: none;

    color: white;

    margin: 0 1%;
}

main{
    display: flex;
    flex-direction: row;

    width: 100%;
}

footer{
    background-color: #8c15e9;
    color: white;

    text-align: center;

    padding: 0.5% 0;
}

.content{
    margin: 1%;
}

.mainBar{
    background-color: #17072b;
    color: white;
}

.sideBar{
    background-color: #172d67;
    color: white;
    padding: 2%;

    margin: 1% 0;
}

.imageRow{
    display: flex;
    flex-direction: row;
}

.imageRow img{
    margin: 1%;
}