section{
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
}

section img{
    max-width: 100%;
    display: block;
}

@media (min-width: 480px){
    section{
        float: left;
        width: 50%;
    }
}

@media (min-width: 800px){
    section{
        float: left;
        width: 25%;
    }
}