/* This is a comment */
/* This selects and styles all elements */
*{
    font-family: "Cascadia Mono";
    color: white;
}

/* Set a common style for <body> */
body{
    background-color: rgb(10, 10, 15);

    margin: 0%;
}

/* Set a common style for all <code> */
code{
    color: grey;

    border-radius: 4px;

    background-color: rgb(10, 10, 15);
}

/* Set a common style for all <code> when inside a <pre> tag */
pre code{
    padding: 8px;

    display: block;
    overflow-x: scroll;

    box-shadow: 4px 4px 8px rgb(0, 0, 0, 1) inset, -4px -4px 8px rgb(255, 255, 255, 0.125) inset;
}

h1, h2, h3, h4, h5, h6{
    color: yellow;
}

/* Set a common style for all <iframe> */
iframe{
    border-radius: 16px;
}

/* Make common custom style for <div> */
.window{
    border-radius: 16px;
    background-color: rgb(20, 20, 25);

    margin: 32px 20%;
    padding: 32px;

    box-shadow: 4px 4px 8px rgb(0, 0, 0, 1), -4px -4px 8px rgb(255, 255, 255, 0.125);

    transition: 0.5s;
}

/* Make change custom style for <div> on hover */
.window:hover{
    box-shadow: 4px 4px 8px rgb(0, 0, 0, 1), -4px -4px 8px rgb(255, 255, 255, 0.125), 0px 0px 64px rgb(20, 20, 90);
}