*{
    background-color : black;
    font-family : "Cascadia Mono";
    color : white;
}

.center{
    margin-left: auto;
    margin-right: auto;
}

.window{
    margin-left: 10%;
    margin-right: 10%;
}