/* ---------------- LAYOUT GOES HERE ---------------- */

html, body{
    margin: 0;
    padding: 0;
}

body{
    display: flex;

    justify-content: center;
}

main{
    display: flex;
    flex-direction: column;
    width: 512px;
    height: 512px;
    margin: 16px;;
    padding: 16px;
}

/* ---------------- STYLING GOES HERE ---------------- */

body{
    font-family: "Arial";
}

main{
    background-color: palegoldenrod;
}